
.idea

ember-app/dist
ember-app/tmp

ember-app/node_modules
ember-app/bower_components

ember-app/.sass-cache
ember-app/connect.lock
ember-app/coverage/*
ember-app/libpeerconnection.log
ember-app/npm-debug.log
ember-app/testem.log

slim-app/vendor
slim-app/composer.lock